<!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Questrial|Quicksand" rel="stylesheet">

      <!--Import materialize.css-->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body style="background-color:#E4D0F2">

      <nav>
        <div class="nav-wrapper" style="font-family:Quicksand; background-color:#b39ddb">
          <a href="#" class="brand-logo right">dreampad</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li id="mainPage"><a href="/">Home</a></li>
            <li id="submitNav"><a href="/submit">Submit</a></li>
            <li id="data"><a href="/showdata">Data</a></li>
            <li id="all"><a href="/allDreams">Journal</a></li>
            <li id="aboutUs"><a href="/AboutUs">About Us</a></li>
          </ul>
        </div>
      </nav>

      <h3 style="text-align:center; font-family:Quicksand">{{ total }}</h3>

      <div class="container">
        <div class="row">
        <div class="col s12 m12">
          <div class="card hoverable z-depth-2" style="background-color:#F0E6F2">
            <div class="card-content white-text">
              <span class="card-title black-text" style="font-family:Quicksand";>Sentiment Analysis Data</span>
              <div class="container">
                <canvas id="sentimentChart" width="300" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="container">
        <div class="row">
        <div class="col s12 m12">
          <div class="card hoverable z-depth-2" style="background-color:#F0E6F2">
            <div class="card-content white-text">
              <span class="card-title black-text" style="font-family:Quicksand";>Weekday Frequency Data</span>
              <div class="container">
                <canvas id="dayChart" width="300" height="300"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>

      <div class="container">
        <ul class="collection with-header hoverable z-depth-2" style="font-family:Quicksand";>
            <li class="collection-header" style="background-color:#F0E6F2"><h4>Word Frequency</h4></li>
            <li class="collection-item" style="background-color:#F0E6F2">1. {{ first }}</li>
            <li class="collection-item" style="background-color:#F0E6F2">2. {{ second }}</li>
            <li class="collection-item" style="background-color:#F0E6F2">3. {{ third }}</li>
            <li class="collection-item" style="background-color:#F0E6F2">4. {{ fourth }}</li>
            <li class="collection-item" style="background-color:#F0E6F2">5. {{ fifth }}</li>
        </ul>
      </div><!-- .container -->

      <script>
        let sentimentChart = document.getElementById("sentimentChart").getContext('2d');

        let sentChart = new Chart(sentimentChart, {
          type:"pie",
          data:{
            labels:["Analytical", "Anger", "Confident", "Fear", "Joy", "Sadness", "Tentative"],
            datasets:[{
              label: "Dream Sentiment",
              data:[
                {{ Analytical }},
                {{ Anger }},
                {{ Confident }},
                {{ Fear }},
                {{ Joy }},
                {{ Sadness }},
                {{ Tentative }}
              ],
              backgroundColor:[
                'rgba(245, 226, 79, 0.4)',
                'rgba(79, 99, 247, 0.4)',
                'rgba(181, 245, 79, 0.4)',
                'rgba(245, 143, 79, 0.4)',
                'rgba(143, 79, 245, 0.4)',
                'rgba(79, 181, 245, 0.4)',
                'rgba(227, 170, 170, 0.4)'
              ],
              borderWidth:2,
              borderColor:"rgba(122, 122, 122, 0.4)",
              hoverBorderWidth:3,
            }],
          },
          options: {
            legend:{
              display:true,
              position:"left"
            }
          },
        });
      </script>

      <script>
        let dayChart = document.getElementById("dayChart").getContext('2d');

        let dChart = new Chart(dayChart, {
          type:"bar",
          data:{
            labels:["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
            datasets:[{
              label: "# of Dreams",
              data:[
                {{ Monday }},
                {{ Tuesday }},
                {{ Wednesday }},
                {{ Thursday }},
                {{ Friday }},
                {{ Saturday }},
                {{ Sunday }}
              ],
              backgroundColor:[
                'rgba(245, 226, 79, 0.4)',
                'rgba(79, 99, 247, 0.4)',
                'rgba(181, 245, 79, 0.4)',
                'rgba(245, 143, 79, 0.4)',
                'rgba(143, 79, 245, 0.4)',
                'rgba(79, 181, 245, 0.4)',
                'rgba(227, 170, 170, 0.4)'
              ],
              borderWidth:2,
              borderColor:"rgba(122, 122, 122, 0.4)",
              hoverBorderWidth:3,
            }],
          },
          options: {},
        });
      </script>

      <!--JavaScript at end of body for optimized loading-->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

      <script type="text/javascript">
      document.getElementById("submitNav").onclick = function () {
         location.href = "/submit";
       };

      document.getElementById("mainPage").onclick = function () {
         location.href = "/";
       };

      document.getElementById("data").onclick = function () {
         location.href = "/showdata";
       };

      document.getElementById("all").onclick = function () {
         location.href = "/allDreams";
       };

      document.getElementById("aboutUs").onclick = function () {
         location.href = "/AboutUs";
       };
      </script>

    </body>
  </html>

<style media="screen">

.active {
    background-color: grey;
}

#nav{
  background-color: #212121  ;
  width: 100%;
}
.box{
  border : 1px black;
  background-color: black;
  float: none;
  height: 100px;
  width: 100px;
  padding: 0px;
  margin: 0px;
}

.box2{
  border : 1px black;
  /* background-color: white; */
  float: none;
  height: 400px;
  width: 500px;
  padding: 0px;
  margin-left: 75px;
  margin-top: 0;

}
#canvas-holder{
  margin-left: 400px;
  margin-top: 0px;
}

#canvas-holder1{
  margin-top: 0;
}

.boxed {
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 1px solid purple;
  margin-right: 270px;
  margin-top: 200px;
  border-radius: 10px;
  float: right;
  background-color: #E4D0F2;
  color: black;
  text-align: center;
}

.boxed2 {
  width: 320px;
  height: 100px;
  padding: 10px;
  border: 1px solid purple;
  margin-right: 570px;
  margin-top: 200px;
  border-radius: 10px;
  float: right;
  background-color: #E4D0F2;
  color: black;
  text-align: center;
}

</style>
